@model SearchModel;
@{
    ViewData["Title"] = "Home Page";
}

<a asp-area="" asp-controller="Home" asp-action="Search">Search ads</a>

<br /><br /><br />

<a asp-area="" asp-controller="Home" asp-action="PostAd">Post ad</a>



