@model PostAdModel;
@{
    ViewData["Title"] = "PostAd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PostAd</h2>

@using (Html.BeginForm("PostAd", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Title</label>
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    <label>Description</label>
    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    <label>Location</label>
    @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })

    <label>Image</label>
    @Html.EditorFor(m => m.Image, new { @class = "form-control" })

    <input type="submit" value="Search" />

}

