@model SearchModel;
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <label>Search</label>
    @Html.TextBoxFor(m => m.SearchString, new { @class = "form-control" })
    <label>Type</label>
    @Html.TextBoxFor(m => m.ItemType, new { @class = "form-control" })
    <input type="submit" value="Search" />

}

